
.header{
  background: var(--background-weak);
  width: 100%;
  height: 60px;
  position: relative;
}
.title{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 1;
}
.title a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title svg.headerSvg{
  width: 35px;
  height: 35px;
  /* fill: var(--text); */
  fill: #ffffff;
  transition: 100ms;
}
.title:hover svg.headerSvg{
  fill: var(--schemma-blue-weak);
}
.nav{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.anchor{  
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.anchor p{ 
  padding: 5px;
  display:flex;
  align-items: center;
  justify-content: center;

  opacity: 0;

  position: absolute;
  top: 43px;

  /* background-color: #29323f; */
  background-color: #fff;
  
  color: var(--schemma-blue);

  font-size: .9rem;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  transition: 80ms ease-in-out;
}
.anchor a:hover + p{
  opacity: 1;
}
.anchor a .headerSvg{
  width: 25px;
  height: 25px;
  fill: #fff;
  transition: 100ms;
}
.anchor a:hover .headerSvg{
  fill: var(--schemma-blue-weak);
}
