

.main{
  height: calc(100vh - 60px);
  width: 95%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.home a{
  background-color: gold;
}
@keyframes world{
  100%{
    transform: rotate(360deg);
  }
}