.wrapper{
  padding: 2rem 5rem 2rem;
  min-height: calc(100vh - 60px);
}
.apresentation{
  
  border-radius: 8px;
  margin-top: 11px;
  padding: .5rem 0;
  display: flex;

  align-items: center;

  flex-direction: column;
  text-align: center;

  background-color: rgba(31, 138, 84, 0.055);
  border-bottom: 2px solid var(--schemma); 
}
.apresentation h2{
  margin-bottom: 5px;
}
.apresentation p{
  font-size: .9rem;
}
.cardsWrapper{
  width: 100%;
  margin-left: auto;
  padding: 0 1rem;
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}
.cardsWrapper .card{
  width: 250px;
  min-height: 320px;
  background-color: rgba(31, 138, 84, 0.055);
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 0 3px #808080d3;
}
.cardsWrapper .card .cardHeader{
  text-align: center;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardsWrapper .card .cardHeader h2{
  font-weight: 500;
}
.cardsWrapper .card .cardBody{
  width: 100%;
  height: 100%;

}
.cardsWrapper .card .cardBody .image{
  width: 100%;
  height: 145px;
}
.cardsWrapper .card .cardBody .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardsWrapper .card .cardBody .descrip{
  min-height: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: .9rem;
}
.cardsWrapper .card .cardBody .redirect{
  height: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardsWrapper .card .cardBody .redirect a{
  padding: 10px 50px;
  background-image: linear-gradient(300deg, var(--schemma), var(--schemma-weak), var(--schemma));
  color: var(--text-2);
  background-size: 200% 200%;
  transition: .6s;
  border-radius: 8px;
  transition: 200ms;
}
.cardsWrapper .card .cardBody .redirect a:hover{
  background-position: 100% 50%;
}

@media(max-width:720px){
  .wrapper{
    padding: 2rem 3rem 2rem;
  }
}