

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --background: #0d1117;
  --background-weak: #161b22;
  --line: #c9d1d980;
  --green: #a4dc699f;
  --text: #c9d1d9;
  --text-weak: #8b949e;
}
@media(max-width: 1080px){
  html{
      font-size: 93.75%;
  }
}
@media(max-width: 720px){/*Mobile*/
  html{
      font-size: 87.5%;
  }
}
body{
  background-color: var(--background);
  color: var(--text);
}
body, input, textarea, button{
  font: 400 1rem "inter", sans-serif;
}
main{
  width: 95%;
  height: calc(100% - 60px);
  margin: 0 auto;
}
button{
  cursor: pointer;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  width: 100%;
  min-height: 100vh;
}