@media(max-width: 1100px){
    nav ul a{
        font-size: .8rem;
    }
}
@media(max-width: 950px){
    nav .mobile{
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav .mobile .burguer{
        padding: 5px;
        cursor: pointer;
    }
    nav .mobile .burguer:active{
        transform: scale(.8,.8);
    }
    nav ul{
        /* display: none; */
        height: calc(100vh - 40px);
        display: flex;
        flex-direction: column;
        position: fixed;
        right: -204px;
        top: 40px;
        z-index: 10;
        background-color: var(--color-header);
        transition: 300ms ease-in-out;
    }
    nav ul a:first-child{
        display: none;
    }
    nav ul a{
        height: 50px;
        font-size: .8rem;
    }
    .apresentation h1{
        font-size: 3rem;
    }
}
@media(max-width:640px){
    body{
        background-image: url(/public/images/bg-mobile.jpg);
    }
    #home{
        background: none;
    }
}